/* 添加 CSS */
body {
  padding: 1em 1em 1em 1em;
}
.favorite-animal {
  border: 1px solid gray;
  padding: 1em 1em 1em 1em;
  box-shadow: 10px 10px 19px 0px gray;
}
.describe-brevity {
  font-style: italic;
}
span{
  font-weight: bold;
}
ul {
  padding-left: 0px;
  list-style: none;
}
.animal-describe {
  border: 1px solid gray;
  margin: 1em 0 0 0;
  padding: 1em 1em 1em 1em;
}
